body {

    background: gray;

}

div {
    border-style: dashed;
    border-color: blue;
    background-color: aqua;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;

}

h1 {
    text-align: center;
    text-decoration: underline;
}

button {
    background-color: red;
}